$primary-color: #efefef;
$flex-display: flex;
$outer-border: 2px solid black;
$font-family: Roboto, sans-serif;
$thin: 100;
$max-width: 100%;
$max-height: 100%;

* {
  box-sizing: border-box;  
  font-family: $font-family;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

html, body {
    height: $max-height;
    margin: 0;
}

body {
    display: $flex-display;
}

input {
    font-weight: $thin;
}
.outerContainer {
    display: $flex-display;
    flex-flow: wrap;
    height: $max-height;
    width: $max-width;
    border: $outer-border;
}

.listHeader {
    display: $flex-display;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    width: $max-width;
    background-color:yellow;
    padding: 0px 2% 0px 2%;
}

.inputContainer{
    display: flex;
    width: $max-width;
    height: 5%;
}

input[type="text"] {
    width: $max-width;
    height: $max-height;
    padding: 0px 20px;
}

.listContainer {
    display: $flex-display;
    height: 85%;
    width: $max-width;
    padding: 0;
}

.listStatus {
    display: $flex-display;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    width: $max-width;
    background-color: cyan;
    padding: 0px 20px 0px 20px;
}

ul {
    display: block;
    width: $max-width;
    height: $max-height;
    list-style: none;
    background: orange;
    margin: 0;
    padding: 2%;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 60px;
	height: 32px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
@media only screen and (max-width: 400px){

}
@media only screen and (min-width: 401px) and (max-width: 720px){
    
}
@media only screen and (min-width: 721px) and (max-width: 900px){
    
}
@media only screen and (min-width: 901px) and (max-width: 1200px){
    
}
@media only screen and (min-width: 1201px){
    
}